version: "3.8"

services:
  frontend:
    container_name: frontend
    build: .
    ports:
      - "3001:3000"
    restart: always
    environment:
      NODE_ENV: production
      NUXT_LOG_LEVEL: error
