:root
    // ======== OLD COLORS =========
    // --main-bg: #f9eddf
    // --main-dark: #caa37e
    // --text-color: #603a27
    // --error-color: #b33c2e
    // --block-bg: #fdf7f1
    // --creme-color: #ebd0b3
    // --border-color: rgba(96, 58, 39, .4)

    --main-bg: #f9f4ef
    --main-dark: #2c2a26
    --text-color: #2c2a26
    --error-color: #2c2a26
    --creme-color: #ca9279
    --border-color: #aea9a3
    --green-color: #4e9f70

    --block-bg: #e9e5df
    --second-bg: #bfa89b
    --super-hightlight: #e84520

h1, h2, h2, p, a, ul li, input::placeholder
    color: var(--text-color)